---
import { Icon } from '@astrojs/starlight/components';
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getCollection } from 'astro:content';

const azuredatastudioExtensions = await getCollection('azuredatastudioExtensions');
---

<StarlightPage frontmatter={{ title: 'Azure Data Studio Extensions', tableOfContents: false }}>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  {
    azuredatastudioExtensions.map((extension) => (
      <tr>
        <td>
          <span style="display: flex; align-items: center; text-wrap: nowrap;">
            {extension.data.name}
            {extension.data.externalLink ? (
              <a href={extension.data.externalLink} target="_blank"><Icon name='external' size="1rem" /></a>
            ) : ''}
          </span>
        </td>
        <td>{extension.data.description}</td>
      </tr>
    ))
  }

</table>

</StarlightPage>