---
import { Icon } from '@astrojs/starlight/components';
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getCollection } from 'astro:content';

const tools = await getCollection('tools');
---

<StarlightPage frontmatter={{ title: 'Tools', tableOfContents: false }}>

This page lists various utility tools that can help enhance productivity and streamline different tasks. These tools cover a range of functionalities, from system monitoring and management to code development and debugging.

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Alternative to</th>
  </tr>

  {
    tools
      .sort((a, b) => a.data.name.toLowerCase().localeCompare(b.data.name.toLowerCase()))
      .map((tool) => (
      <tr>
        <td>
          <span style="display: flex; align-items: center; text-wrap: nowrap;">
            {tool.data.name}
            {tool.data.externalLink ? (
              <a href={tool.data.externalLink} target="_blank"><Icon name='external' size="1rem" /></a>
            ) : ''}
          </span>
        </td>
        <td>{tool.data.description}</td>
        <td>{tool.data.alternativeTo}</td>
      </tr>
    ))
  }

</table>

</StarlightPage>